// ---------------------------
// Font scheme
// ---------------------------

// Primary fonts

@font-face {
  font-family: 'Proxima Nova';
  src: font_url('ProximaNova-Light.ttf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: font_url('ProximaNova-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: font_url('ProximaNova-Bold.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

$font-family: "Proxima Nova", "sans-serif";

// ---------------------------
// Color scheme
// ---------------------------

// Primary colors
$blue: #4F9DEB; // #2793FF;
$light-blue: #EFF7FF;
$dark-blue: #003068;
$midnight-blue: #2c3e50;

$red:        #e74c3c;
$yellow:     #f1c40f;
$green:      #2ecc71;

// Gray scale
$black: #2C3E50; // #000000;
$white: #FFFFFF;
$white-gray: #F0F0F0;
$light-gray: #DCDCDC;
$gray:       #9B9B9B;
$dark-gray:  #4A4A4A;


// ---------------------------
// Media-based root TEXT SIZE and WIDTH
// ---------------------------


// The size of 1rem in pixels
$baseSize: 18px;
// The size of a pixel in rems
$px: 1 / ($baseSize / 1px) + 0rem;

html {
  font-size: $baseSize;
}


/* Extra small devices (phones, less than 768px) */


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { }





// ---------------------------
// Text
// ---------------------------


$vertical-spacing: 2.3rem;
$letter-spacing: 0.5px;
$line-height: 1.5;


$header-font-size: 24px;   // App title (h1) and Page title (h2)
$title-font-size: 18px;    // Page navigation (h3)
$text-font-size: 18px;     // Block titles, text, links, form labels (p)

// ---------------------------
// Buttons
// ---------------------------

// Generic
$btn-color: $dark-blue;
// Hover and Down


// ---------------------------
// Forms
// ---------------------------


// ---------------------------
// Boxes
// ---------------------------

$box-corner-radius: 4px;
