<footer>
  <div class="page-centered">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <h5 class="footer-title">About</h5>
          <ul class="footer-list">
            <li>Inquire at <%= link_to "contact(at)simpleokr.net", "mailto:contact@simpleokr.net" %></li>
            <li>Made with <i class="fa fa-heart red"></i> and <i class="fa fa-diamond red"></i> by Willem Browne.</li>
            <li>New York City. 2015.</li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-4">
          <h5 class="footer-title">Support</h5>
          <ul class="footer-list">
            <li>Get help at <%= link_to "help(at)simpleokr.net", "mailto:help@simpleokr.net" %></li>
            <li>SIMPLEOKR is a non-commercial project. Your support will be used to fix bugs and implement features you would like to see.</li>
            <li>
              <script async="async" src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=willem.browne@gmail.com"
                  data-button="donate"
                  data-name="Simple OKR Donations"
                  data-quantity="1"
                  data-shipping="0"
                  data-tax="0"
                  data-callback="http://simpleokr.net"
              ></script>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-4">
          <h5 class="footer-title">Share</h5>
          <ul class="footer-list">
            <li>Spread the word on social media.</li>
            <li>
              <ul class="list-inline">
                <li><i class="fa fa-twitter blue"></i></li>
                <li><i class="fa fa-linkedin blue"></i></li>
                <li><i class="fa fa-envelope-o blue"></i></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</footer>