<header>
  <div class="header">
    <div class="float-left">
      <h1>
        <%= link_to root_path, class: "logo" do %>
          SIMPLE<span>OKR</span>
        <% end %>
      </h1>
    </div>
    <div class="float-right">

      <div class="dropdown">
        <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-info-circle"></i> About OKR
        </a>

        <div class="dropdown-menu" aria-labelledby="dLabel">
          <iframe width="240" height="135" src="https://www.youtube.com/embed/mJB83EZtAjc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

    </div>
  </div>
</header>