<div class="col-sm-2">
  <a href="#" class="tip" data-toggle="tooltip" data-animation="true" data-placement="right" data-viewport="body" title="<%= text %>"><i class="fa fa-question-circle"></i></a>
</div>