<div class="row">
  <div class="col-xs-12 col-sm-2">
    <%= form.label :description, "Key result:", class: "control-label" %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <%= form.text_area :description, rows: 2, class: "form-control input-lg" %>
  </div>
  <%= render partial: 'helper', locals: { text: "Write 3 to 4 key results per objective. Include a clear metric." } %>
</div>