<!-- <div class="row"> -->
  <div class="form-group">
    <%= form.label :description, "Key Result:", class: "col-sm-2 control-label" %>
    <div class="col-sm-1"></div>
    <div class="col-sm-7">
      <%= form.text_area :description, rows: 2, class: "form-control" %>
    </div>
    <%= render partial: 'helper', locals: { text: "Write 3 to 4 key results per objective. Include a clear metric." } %>
  </div>
<!-- </div> -->

