<div class="row">
  <div class="col-xs-8">
    <p class="key-result"><%= kr.description %></p>
  </div>
  <div class="col-xs-4">
    <div class="review">
      <%= form.hidden_field :score, data: { id: index } %>
    </div>
  </div>
</div>