<div class="row">
  <div class="col-xs-12 col-md-7">
    <p class="key-result"><%= kr.description %></p>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="score">
      <%= form.hidden_field :score %>
      <svg class="canvas"></svg>
    </div>
  </div>
  <div class="col-xs-12 col-md-2">
    <!-- form.text_field :conclusion -->
  </div>
</div>