<div class="row-group">
  <div class="row">
    <div class="col-xs-8">
      <p class="objective"><%= objective.description %></p>
    </div>
    <div class="col-xs-4">
      <%= form.hidden_field :score %>
    </div>
  </div>

  <% objective.key_results.order(:id).each_with_index do |kr, i| %>
    <%= form.fields_for :key_results, kr do |kr_form| %>
      <%= render partial: "kr_review", locals: { form: kr_form, kr: kr, index: "#{index+1}#{i+1}".to_i } %>
    <% end %>
  <% end %>

</div>