<nav>

  <h1 class="title">Define your objectives</h1>

  <div class="clearfix"></div>

  <ul class="scope list-inline">
    <li><h2 class="subtitle"><i class="fa fa-check-circle"></i> Set the scope of your objectives</h2></li>
  </ul>

<!-- Previous / Next buttons at top of page too? -->

  <div class="clearfix"></div>

</nav>