<div class="page-block">
  <h2>Set your objectives</h2>
  <ul class="list-inline">
    <li><span>1</span> Scope</li>
    <li><span>2</span> Define</li>
    <li><span>3</span> Share</li>
  </ul>
</div>