<section id="steps-header">
  <div class="container-fluid centered">
    <div class="row">
      <h1 class="title">Define your OKRs</h1>
      <ul class="list-inline">
        <li><%= image_tag "one.svg", size: "40" %> <h2 class="subtitle">Scope</h2></li>
        <li><%= image_tag "two.svg", size: "40" %> <h2 class="subtitle">Describe</h2></li>
        <li><%= image_tag "three.svg", size: "40" %> <h2 class="subtitle">Share</h2></li>
      </ul>
    </div>
  </div>
</section>