<nav>

  <h1 class="title">Define your OKRs</h1>

  <div class="clearfix"></div>

  <ul class="scope list-inline">
    <li><%= image_tag "one.svg", size: "40", class: "steps" %> <h2 class="subtitle">Scope</h2></li>
    <li><%= image_tag "two.svg", size: "40", class: "steps" %> <h2 class="subtitle">Describe</h2></li>
    <li><%= image_tag "three.svg", size: "40", class: "steps" %> <h2 class="subtitle">Share</h2></li>
  </ul>

<!-- Previous / Next buttons at top of page too? -->

  <div class="clearfix"></div>

</nav>

