<section id="steps-header">
  <div class="container-fluid centered">
    <div class="row">
      <h1>Define your OKRs</h1>
      <ul class="list-inline">
        <li><%= image_tag "one.svg", size: "40" %> <h4>Scope</h4></li>
        <li><%= image_tag "two.svg", size: "40" %> <h4>Describe</h4></li>
        <li><%= image_tag "three.svg", size: "40" %> <h4>Share</h4></li>
      </ul>
    </div>
  </div>
</section>