<div class="page-header">
  <h2>Set your objectives</h2>
  <ul class="unstyle-list">
    <li class="active"><span>1</span> Scope</li>
    <li><span>2</span> Define</li>
    <li><span>3</span> Share</li>
  </ul>
</div>

<%= render "define_okr" %>
