<!DOCTYPE html>
<html>
<head>
  <title>Simple OKR - Objectives Key Results in seconds</title>
  <meta charset='utf-8' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
  <%= wicked_pdf_javascript_include_tag 'd3' %>
</head>
<body>

<header>
  <div class="page-centered">
    <h3>
      <%= link_to root_path, class: "logo" do %>
        SIMPLE<strong>OKR</strong>.net/<%= "#{@okr.public_url}" %>
      <% end %>
    </h3>
  </div>
</header>

<main class="page-centered">
<nav>

  <h1 class="title">Objectives and Key Results</h1>

  <ul class="scope list-inline">
    <li><h2 class="subtitle"><i class="fa fa-users"></i> <%= @okr.owner %></h2></li>
    <li><h2 class="subtitle"><i class="fa fa-calendar"></i> Q<%= @okr.quarter %> <%= @okr.year %></h2></li>
  </ul>

</nav>

<section id="okr">
  <div class="container-fluid">
    <% @okr.objectives.order(:id).each do |objective| %>
      <div class="row-group">

        <div class="row">
          <div class="col-xs-9">
            <h4><%= objective.description %></h4>
          </div>
        </div>

        <% objective.key_results.order(:id).each do |kr| %>
          <div class="row">
            <div class="col-xs-9">
              <p><%= kr.description %></p>
            </div>
            <div class="col-xs-3">
              <% if @okr.reviewed %>
                <div class="score" data-score="<%= kr.score %>">
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>
</section>

</main>

</body>
</html>