<%= render 'view_header' %>

<section id="okr">
  <%= form_for @okr do |form| %>
    <div class="container-fluid">

      <% @okr.objectives.each_with_index do |objective, index| %>
        <%= form.fields_for :objectives, objective do |o_form| %>
          <%= render partial: "o_review", locals: { form: o_form, objective: objective, index: index } %>
        <% end %>
      <% end %>

    </div>
  <% end %>
</section>