<div class="page-header">
  <h2>Objectives and Key Results</h2>
  <h3><%= @okr.owner %> <%= @okr.period %></h3>
</div>

<div id="okr">
  <ul>
  <% @okr.objectives.each do |ob| %>
    <li><%= ob.description %></li>
    <li>
      <ul>
      <% ob.key_results.each do |kr| %>
        <li><%= kr.description %></li>
      <% end %>
      </ul>
    </li>
  <% end %>
  </ul>

</div>