<%= render 'view_header' %>

<section id="okr">
  <% @okr.objectives.each do |o| %>
    <div class="row-group">
      <h3><%= o.description %></h3>
      <ul>
        <% o.key_results.each do |kr| %>
          <li><h5><%= kr.description %></h5></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</section>

