// LAYOUT ATTRIBUTES specific to DYNAMIC APP PAGES

#title {
  img {
    margin: 10px;
  }
  h2 {
    padding-bottom: 20px;
  }
  h4 {
    display: inline;
  }
}

// NAV Title

h1.title {
  display: block;
  margin: 0px;
  padding: 0px;
  padding-bottom: 1.2rem;
  color: $black;
  text-align: left;
}

// NAV Subtitle

ul.scope {
  display: block;
  margin: 0px;
  padding: 0px;
  li {
    &:not(:first-child) {
      margin-left: 1.5rem;
    }
  }
}

img.steps {
  display: inline-block;
  margin: 0px;
  margin-right: 10px;
  padding: 0px;
}

h2.subtitle {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  color: $black;
  font-size: 21px;
  font-weight: 200;
}

// NAV MENU Buttons (if admin URL)

div.menu {
  padding-top: $vertical-spacing;
}

ul.buttons {
  display: block;
  // float: right;
  margin: 0px;
  padding: 0px;
  // padding-top: 0.4rem;
  li {
    &:not(:first-child) {
      margin-left: 1.5rem;
    }
  }
}

div.tab-content {
  // padding-top: $vertical-spacing;
  // padding-left: 1rem;
  // padding-right: 1rem;
}

div.tab-pane {
  position: relative;
  margin-top: $vertical-spacing;
  // margin-left: 1rem;
  // margin-right: 1rem;
  padding: 1.5rem 2rem 0.5rem 2rem;
  background: $white-blue;
  border-radius: 5px;
}

.mini {
  color: $blue;
  font-size: 0.8rem;
  p {
    line-height: 2;
    margin-bottom: 1rem;
  }
  .input-sm {
    border: $light-blue;
  }
}

.share-triangle {
  position: absolute;
  top: -20px;
  left: 25px;
}

.manage-triangle {
  position: absolute;
  top: -20px;
  left: 240px;
}

.flash {
  background: $blue;
}


// SECTION Flashes

.flashes {
  margin: 0px;
  padding: 0px;
}

// SECTION OKR Content

.okr {
  // padding: 30px 0px 0px 0px;
  padding-bottom: 0px;
  .btn-xs {
    padding: 2px 12px;
    line-height: 1.6em;
    background-color: $light-gray;
    border: none;
  }
}

h3.headline {
  margin-bottom: 0.5em;
  color: $blue;
  font-weight: 600;
  font-size: 1.2rem;
}

label {
  padding-top: 0.4rem;
  font-weight: 600;
}

.tip {
  display: block;
  margin-top: 0.4rem;
  text-align: center;
}

.objective {
  color: $blue;
  font-weight: 600;
  // font-size: 18px;
  // padding-bottom: 20px;
}

.key-result {
  color: $blue;
  // font-weight: 200;
  // font-size: 18px;
  // padding-bottom: 20px;
}

// SECTION Action buttons

.action {
  padding-top: 0px;
  // text-align: center;
}
