// LAYOUT ATTRIBUTES specific to DYNAMIC APP PAGES

#steps-header {
  img {
    margin: 10px;
  }
  h2 {
    padding-bottom: 20px;
  }
  h4 {
    display: inline;
  }
}

#form-box, #okr {
  padding: 50px;
  background: $light-blue;
  border-radius: 10px;
  h3 {
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .btn-xs {
    padding: 2px 12px;
    line-height: 1.6em;
    background-color: $light-gray;
    border: none;
  }
}

.row-group {
  padding-top: 10px;
  padding-bottom: 30px;
}

