footer {
  position: absolute;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(to bottom, #FFFFFF, #C6EAFF);
  font-size: 12px;
  ul {
    list-style-type: none;
    margin: 0px auto;
    padding-left: 0px;
  }
  .red {
    color: $red;
  }
  .blue {
    color: $blue;
  }
  .btn-xs {
    padding: 2px 12px;
    margin-bottom: 10px;
    line-height: 1.8em;
    color: white;
    background-color: $gray;
    border: none
  }
  .btn-xs:hover {
    background-color: darken($gray, 20%);
    border: none
  }
}

h5.footer-title {
  margin-top: 0.8em;
  margin-bottom: 0.8em
}

ul.footer-list {
  li {
    padding-bottom: 1em;
  }
}