header {
  width: 100%;
  height: 64*$px;
  background-color: $blue;
  a { color: white }
  a:hover { color: aliceblue }
}

h1.logo {
  margin: 20*$px 0*$px;
  font-size: 24*$px;
  line-height: 1;
}

.dropdown {
  margin: 20*$px 0*$px;
  padding: 0px;
  line-height: 24*$px;
}

.dropdown-menu {
  margin: 0px;
  padding: 10px;
  height: 155px;
  background-color: black;
  border: none;
}