// LAYOUT ATTRIBUTES specific to STATIC WEBPAGES

#tagline {
  background: linear-gradient(#EFF7FF, #FFFFFF);
}

.call-to-action {
  position: relative;
  margin: 30px auto;
  width: 350px;
}

.free-text {
  color: $green;
  position: absolute;
  top: -25px;
  left: 325px;
  width: 100px;
  text-align: center;
}

.free-arrow {
  position: absolute;
  top: -3px;
  left: 327px;
  width: 50px;
  height: 30px;
}

.wide-text {
  padding-left: 10%;
  padding-right: 10%;
}

.icon {
  float: left;
}

.benefit {
  margin: 40px 0px 40px 120px;
  text-align: left;
}

.normal {
  font-weight: 400;
}
