section {
  padding: 50px 20px 50px 20px;
  text-align: center;
  // border-bottom: 1px solid $white-gray;
  h1 {                  // Title
    color: $midnight-blue;
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 0px;
  }
  h2 {                  // Sub-title
    color: $midnight-blue;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 50px;
  }
  h3 {                  // Section title
    font-size: 24px;
    color: $blue;
    .heavy {
      font-weight: 600;
    }
  }
  p {
    // padding-top: 30px;
  }
  .wide-text {
    padding-left: 10%;
    padding-right: 10%;
  }
}

#tagline {
  background: linear-gradient(#EFF7FF, #FFFFFF);
  h2 {
    font-size: 20px;
    font-weight: 200;
    color: $gray;
    padding-bottom: 30px;
  }
}

.container-fluid {
  max-width: 900px;
  margin: 0px auto;
}

.call-to-action {
  position: relative;
  margin: 30px auto;
  width: 350px;
}

.free-text {
  color: $green;
  position: absolute;
  top: -25px;
  left: 325px;
  width: 100px;
  text-align: center;
}

.free-arrow {
  position: absolute;
  top: -3px;
  left: 327px;
  width: 50px;
  height: 30px;
}

.icon {
  float: left;
}

.benefit {
  margin: 40px 0px 40px 120px;
  text-align: left;
}

.normal {
  font-weight: 400;
}
