// GENERIC PAGE LAYOUT

// Reset main blocks
body, h1, h2, h3, h4, h5, h6,
p, blockquote, ol, ul, figure {
  margin: 0px;
  padding: 0px;
}

// Style page base
body {
  height: 100%;
  font-family: $font-family;
  font-weight: 200;
  font-size: $text-font-size;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  color: $black;
  background: white;
}

// Set `margin-bottom` to maintain vertical rhythm
h1, h2, h3, h4, h5, h6,
p, blockquote, ol, ul, figure {
  margin-bottom: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 { font-size: 42*$px }
h2 { font-size: 28*$px }
h3, h4 { font-size: 24*$px }
h5 { font-size: 20*$px }

a {
  color: $blue;
  font-weight: 400;
}

a:link, a:active, a:visited, a:hover, a:focus {
  text-decoration: none;
}

section {
  padding-top: $vertical-spacing;
  padding-bottom: $vertical-spacing;
}

.row-group {
  // margin-top: $vertical-spacing / 2;
  margin-bottom: $vertical-spacing;
}

// Centered content with white background
main {
  min-height: 100%;
}

// Content titles with black text and blue action buttons
nav {
  padding: 40px 0px;
  border-bottom: 1px solid #E3E3E3;
}

// Full-width XXX bar with XXX text
footer {}

.page-centered {
  margin: 0 auto;
  padding: 0px 20px;
  max-width: 900px;
}

.centered { text-align: center }
.float-left { float: left }
.float-right { float: right }

.light { font-weight: 200 }
.normal { font-weight: 400 }
.heavy { font-weight: 600 }